@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1720px)
  h1
    font-size: 1.7em
  .grid-second-display
    .container
      padding: 150px 8px
      p
        font-size: 20px
  .map
    iframe
      width: 500px
      height: 400px
@media only screen and (max-width : 1520px)
  h1
    font-size: 1.5em
  .main-header
    .container
      .header-content
        p
          font-size: 20px
        h1
          font-size: 30px
  .grid-arrow-down
    .arrow-down
      font-size: 45px
  .circle
    width: 90px
    padding: 18px
  .navigation
    height: 9vh
    a
      padding-top: 2.5vh
      font-size: 20px
  div.logo
      font-size: 40px !important
  .grid-second-display
    .container
      padding: 120px 7px
      p
        font-size: 18px
  .button-weiter
    margin-top: 60px
    width: 240px
    font-size: 30px

  .display-main-3
    .overlay-wohnung-background
      width: 400px
      left: 36%
      right: 36%
      height: 44vh
    .overlay-wohnung
      width: 400px
      left: 37%
      right: 37%
      height: 44vh
  .display-main-3
    .overlay-wohnung
      p
        font-size: 22px
      p:first-child
        font-size: 28px
  .button-anfrage
    width: 240px
    font-size: 30px
    padding: 20px 70px
  .button-mehr
    width: 240px
    font-size: 30px
    padding: 20px 70px
  .grid-third-display
    h2
      font-size: 40px
  .display-main-3
    .wohnung
      p
        font-size: 28px
        margin-bottom: 85px

  .grid-forth-display
    .grid-item
      &:nth-child(1)
        font-size: 32px
  .map
    iframe
      width: 450px
      height: 350px

  input.button-absenden
    font-size: 28px
  .grid-fifth-display
    label
      font-size: 22px
  .footer
    font-size: 18px
@media only screen and (max-width : 1400px)
  h1
    font-size: 1.4em
  .main-header
    .container
      .header-content
        p
          font-size: 18px
        h1
          font-size: 26px
  .grid-second-display
    .container
      padding: 100px 6px
      p
        font-size: 17px
  .button-weiter
    margin-top: 50px
    width: 220px
    font-size: 28px
    padding: 10px 60px
  .languages
    width: 55px
    font-size: 20px
    div
      height: 55px

  .display-main-3
    .overlay-wohnung-background
      width: 380px
      left: 37%
      right: 37%
      height: 43vh
    .overlay-wohnung
      width: 380px
      left: 37%
      right: 37%
      height: 43vh
  .display-main-3
    .overlay-wohnung
      p
        font-size: 20px
      p:first-child
        font-size: 26px
  .button-anfrage
    width: 220px
    font-size: 28px
    padding: 20px 60px
  .button-mehr
    width: 220px
    font-size: 28px
    padding: 20px 60px
  .grid-third-display
    h2
      font-size: 38px
  .display-main-3
    .wohnung
      p
        font-size: 26px
        margin-bottom: 80px
@media only screen and (max-width : 1310px)
  h1
    font-size: 1.3em
  .navigation
    height: 8vh
    a
      padding-top: 2vh
      font-size: 18px
  div.logo
    font-size: 30px !important
  .grid-second-display
    .container
      padding: 90px 5px
      p
        font-size: 16px

  .display-main-3
    .overlay-wohnung-background
      width: 360px
      left: 36%
      right: 36%
      height: 42vh
      top: 27%
    .overlay-wohnung
      width: 360px
      left: 36%
      right: 36%
      height: 42vh
      top: 27%
  .button-anfrage
    width: 200px
    font-size: 26px
    padding: 20px 50px
  .button-mehr
    width: 200px
    font-size: 26px
    padding: 20px 50px
  .grid-third-display
    h2
      font-size: 36px
  .display-main-3
    .wohnung
      p
        font-size: 24px
        margin-bottom: 80px
  .display-main-3
    .overlay-wohnung
      .main-page-email
        margin-bottom: 55px
  .grid-forth-display
    .grid-item
      &:nth-child(3)
        text-align: right
  .grid-forth-display
    p
      font-size: 22px
  .map
    iframe
      width: 350px
      height: 350px

  input.button-absenden
    font-size: 26px
    width: 340px
  .grid-fifth-display
    label
      font-size: 20px
  .footer
    font-size: 16px
  .grid-fifth-display
    .grid-item
      &:nth-child(1)
        font-size: 32px
@media only screen and (max-width : 1200px)
  h1
    font-size: 1em
  .navigation
    height: 7.5vh
    a
      padding-top: 2vh
      font-size: 16px
  .grid-second-display
    .container
      p
        font-size: 14px
  .languages
    width: 50px
    font-size: 18px
    div
      height: 50px
  .grid-arrow-down
    .arrow-down
      font-size: 40px
    .circle
      width: 80px
      padding: 16px
  .button-weiter
    margin-top: 45px
    width: 210px
    font-size: 26px
    padding: 10px 60px

  .display-main-3
    .overlay-wohnung-background
      width: 360px
      left: 35%
      right: 35%
      height: 42vh
    .overlay-wohnung
      width: 360px
      left: 35%
      right: 35%
      height: 42vh
  .display-main-3
    .overlay-wohnung
      p
        font-size: 18px
      p:first-child
        font-size: 24px
  .button-anfrage
    width: 200px
    font-size: 26px
    padding: 20px 50px
  .button-mehr
    width: 200px
    font-size: 26px
    padding: 20px 50px
  .grid-third-display
    h2
      font-size: 36px
  .display-main-3
    .wohnung
      p
        font-size: 24px
        margin-bottom: 75px
  .display-main-3
    .overlay-wohnung
      .main-page-email
        margin-bottom: 60px

@media only screen and (max-width : 1150px)
  .display-main-3
    .overlay-wohnung-background
      width: 340px
    .overlay-wohnung
      width: 340px
  .button-anfrage
    width: 190px
    font-size: 25px
    padding: 20px 45px
  .button-mehr
    width: 190px
    font-size: 25px
    padding: 20px 45px
  .grid-third-display
    h2
      font-size: 35px
  .display-main-3
    .wohnung
      p
        font-size: 23px
        margin-bottom: 60px
  .display-main-3
    .overlay-wohnung
      .main-page-email
        margin-bottom: 55px
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  h1
    font-size: 0.8em
  .main-header
    .container
      .header-content
        p
          font-size: 16px
        h1
          font-size: 24px
  .navigation
    height: 7vh
    a
      padding-top: 2vh
      font-size: 14px
  div.logo
    font-size: 25px !important
  .grid-second-display
    .container
      padding: 70px 4px
      p
        font-size: 12px
  .button-weiter
    margin-top: 40px
    width: 200px
    font-size: 24px
    padding: 10px 55px
  .languages
    width: 45px
    font-size: 16px
    div
      height: 45px
  .grid-arrow-down
    .arrow-down
      font-size: 35px
    .circle
      width: 70px
      padding: 14px

  .display-main-3
    .overlay-wohnung-background
      width: 320px
      left: 34%
      right: 34%
      height: 42vh
    .overlay-wohnung
      width: 320px
      left: 34%
      right: 34%
      height: 42vh
  .display-main-3
    .overlay-wohnung
      p
        font-size: 16px
      p:first-child
        font-size: 22px
  .button-anfrage
    width: 180px
    font-size: 22px
    padding: 15px 35px
  .button-mehr
    width: 180px
    font-size: 22px
    padding: 15px 35px
  .grid-third-display
    h2
      font-size: 30px
  .display-main-3
    .wohnung
      p
        font-size: 20px
        margin-bottom: 50px
  .display-main-3
    .overlay-wohnung
      .main-page-email
        margin-bottom: 50px

  .grid-forth-display
    .grid-item
      &:nth-child(1)
        font-size: 30px
  .grid-forth-display
    .grid-item
      &:nth-child(3)
        text-align: right
  .grid-forth-display
    p
      font-size: 20px
  .map
    iframe
      width: 300px
      height: 300px



/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

